QToolBar {
    border: none;
}

QToolButton {
    border: none;
    color: #6D6D6D;
}

QToolButton:checked {
    border-left: 2px solid #0C8ED9;
    border-right: none;
    border-top: none;
    border-bottom: none;
    background-color: #0C8ED9;
    color: #FFFFFF;
}
