QToolBar {
    border: none;
}

QToolBar::separator {
    height: 1px;
    background-color: #E2E2E2;
    margin-top: 10px;
    margin-bottom: 0px;
}

QToolButton {
    border: none;
    color: #4C4C4C;
    font-size: 20px;

    padding-left: -50px;
}

QToolButton:checked {
    border-left: none;
    border-right: 3px solid #2CA7F8;
    border-top: none;
    border-bottom: none;
    background-color: #D5EDFE;
    color: #2CA7F8;
    font-size: 20px;
}
